@import 'normalize.css';
:root {
    --primary: #56a4fe;
}

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
